@{
    Layout = null;
}

<style>
    #backToTop {
        position: fixed;
        bottom: 5px;
        right: 25px;
        visibility: visible;
        color: rgba(0, 94, 165, 0.50);
        -moz-transition: bottom 0.3s ease;
        -o-transition: bottom 0.3s ease;
        -webkit-transition: bottom 0.3s ease;
        transition: bottom 0.3s ease;
    }

    .Footer {
        background-color: #dee0e2;
        height: 170px;
    }

    .spacer50 {
        height: 50px;
        width: 50px;
    }

    body {
        font-family: arial;
    }
</style>

<!-- Bootstrap core CSS -->
@*<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@

<!-- Custom fonts for this template -->
<link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
@*<link href="~/css/freelancer.css" rel="stylesheet" />*@
@*<link href="~/css/site.css" rel="stylesheet" />*@

<!-- jQuery load at top for compatability -->
<script src="~/vendor/jquery/jquery.min.js"></script>

<body>
    <div id="PageContainer">
        <div class="col-md-12">
            <h1>Lorem ipsum dolor sit amet</h1>http://jsfiddle.net/jennadfe/ajuLfpna/7/?utm_source=website&utm_medium=embed&utm_campaign=ajuLfpna#
        </div>

        <div class="row centeredContent">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales vitae orci eget hendrerit. Nunc porttitor orci et tellus molestie egestas. Aenean pellentesque, risus vitae mattis faucibus, massa justo tristique purus, eu dictum leo eros
                    id diam. Sed blandit, enim vel interdum congue, elit velit tristique leo, vitae auctor leo augue nec nibh. Etiam rhoncus vitae sapien sit amet posuere. Pellentesque risus mi, bibendum eu pretium at, lacinia et metus. Praesent eget pulvinar dui,
                    non pharetra enim. Donec et dignissim justo, vel ultricies neque. Nulla blandit vehicula dolor, in ullamcorper sapien dignissim in. Nulla vitae dolor aliquam, varius arcu vel, blandit odio.
                </p>

                <p>
                    In gravida nisl sed libero ullamcorper tincidunt. Maecenas vel enim eget risus ultrices gravida. Quisque ac fermentum ligula. Vivamus tristique libero laoreet augue placerat ultricies. Cras vel feugiat nisi, porttitor consectetur tortor. Curabitur
                    eget mollis ante. Nunc quis euismod nibh, a pretium tortor. Morbi imperdiet, ex eu finibus ultrices, leo ipsum vulputate lectus, quis dignissim eros augue in ex. Donec ultricies est nisl, a maximus nisi semper ac. Sed tristique porta auctor. Sed
                    faucibus cursus purus eget laoreet. Etiam metus libero, tincidunt id posuere vitae, placerat eu sem.
                </p>

                <p>
                    Fusce ac consectetur est, eget tempus urna. Donec ultrices ligula massa, sit amet dignissim turpis bibendum vitae. Nulla sed vehicula mi, sed venenatis enim. Mauris eleifend, velit a ullamcorper interdum, massa nisl accumsan nisl, quis cursus turpis
                    tortor sed urna. Nam varius metus id elit dictum, nec vehicula mi viverra. Vivamus est nisi, rutrum nec est id, consequat tincidunt nisi. Nunc ligula ipsum, ornare ut molestie ac, tempus non sapien. Sed consectetur rhoncus erat porta interdum.
                    Ut lobortis, justo vitae dapibus elementum, purus nulla eleifend ante, ut interdum turpis turpis quis magna. Sed consectetur ipsum dictum nisl varius dignissim. Curabitur iaculis, nisl id tincidunt venenatis, quam nulla eleifend lacus, bibendum
                    condimentum nunc felis vitae eros. Maecenas et ullamcorper dolor. Vivamus cursus rhoncus mauris eu sodales.
                </p>

                <p>
                    Cras a elementum libero. Sed et risus consectetur, accumsan nisl sit amet, porttitor velit. In hac habitasse platea dictumst. Sed sed urna a neque commodo hendrerit. Nulla porttitor neque lacus, sit amet vulputate dui venenatis sit amet. Suspendisse
                    convallis lorem et orci mollis eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam quis turpis elementum, consectetur nisl vitae, tempus mi. Vestibulum dui urna, sollicitudin facilisis consectetur
                    et, condimentum ut tellus. Vestibulum vitae posuere libero, vitae finibus lorem. Donec sit amet quam at libero fermentum condimentum.
                </p>

                <p>
                    Donec ut diam risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel maximus erat. Duis suscipit ultrices placerat. Mauris varius lectus non feugiat placerat. Mauris malesuada fermentum justo
                    vel tincidunt. Integer suscipit, lectus scelerisque vestibulum sodales, justo lorem vehicula justo, sed congue sem ipsum a sem. Quisque a lectus in ex faucibus interdum. Integer sed luctus lectus. Praesent pulvinar ante sed est convallis, vel
                    hendrerit nisi eleifend. Donec ullamcorper nibh quis placerat maximus. Pellentesque vitae egestas magna, non rutrum ante. Curabitur maximus nec ex auctor congue. Aenean hendrerit in diam a luctus
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales vitae orci eget hendrerit. Nunc porttitor orci et tellus molestie egestas. Aenean pellentesque, risus vitae mattis faucibus, massa justo tristique purus, eu dictum leo eros
                    id diam. Sed blandit, enim vel interdum congue, elit velit tristique leo, vitae auctor leo augue nec nibh. Etiam rhoncus vitae sapien sit amet posuere. Pellentesque risus mi, bibendum eu pretium at, lacinia et metus. Praesent eget pulvinar dui,
                    non pharetra enim. Donec et dignissim justo, vel ultricies neque. Nulla blandit vehicula dolor, in ullamcorper sapien dignissim in. Nulla vitae dolor aliquam, varius arcu vel, blandit odio.
                </p>

                <p>
                    In gravida nisl sed libero ullamcorper tincidunt. Maecenas vel enim eget risus ultrices gravida. Quisque ac fermentum ligula. Vivamus tristique libero laoreet augue placerat ultricies. Cras vel feugiat nisi, porttitor consectetur tortor. Curabitur
                    eget mollis ante. Nunc quis euismod nibh, a pretium tortor. Morbi imperdiet, ex eu finibus ultrices, leo ipsum vulputate lectus, quis dignissim eros augue in ex. Donec ultricies est nisl, a maximus nisi semper ac. Sed tristique porta auctor. Sed
                    faucibus cursus purus eget laoreet. Etiam metus libero, tincidunt id posuere vitae, placerat eu sem.
                </p>

                <p>
                    Fusce ac consectetur est, eget tempus urna. Donec ultrices ligula massa, sit amet dignissim turpis bibendum vitae. Nulla sed vehicula mi, sed venenatis enim. Mauris eleifend, velit a ullamcorper interdum, massa nisl accumsan nisl, quis cursus turpis
                    tortor sed urna. Nam varius metus id elit dictum, nec vehicula mi viverra. Vivamus est nisi, rutrum nec est id, consequat tincidunt nisi. Nunc ligula ipsum, ornare ut molestie ac, tempus non sapien. Sed consectetur rhoncus erat porta interdum.
                    Ut lobortis, justo vitae dapibus elementum, purus nulla eleifend ante, ut interdum turpis turpis quis magna. Sed consectetur ipsum dictum nisl varius dignissim. Curabitur iaculis, nisl id tincidunt venenatis, quam nulla eleifend lacus, bibendum
                    condimentum nunc felis vitae eros. Maecenas et ullamcorper dolor. Vivamus cursus rhoncus mauris eu sodales.
                </p>

                <p>
                    Cras a elementum libero. Sed et risus consectetur, accumsan nisl sit amet, porttitor velit. In hac habitasse platea dictumst. Sed sed urna a neque commodo hendrerit. Nulla porttitor neque lacus, sit amet vulputate dui venenatis sit amet. Suspendisse
                    convallis lorem et orci mollis eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam quis turpis elementum, consectetur nisl vitae, tempus mi. Vestibulum dui urna, sollicitudin facilisis consectetur
                    et, condimentum ut tellus. Vestibulum vitae posuere libero, vitae finibus lorem. Donec sit amet quam at libero fermentum condimentum.
                </p>

                <p>
                    Donec ut diam risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vel maximus erat. Duis suscipit ultrices placerat. Mauris varius lectus non feugiat placerat. Mauris malesuada fermentum justo
                    vel tincidunt. Integer suscipit, lect
            </div>
        </div>
        <div class="spacer50"></div>

        <div id="backToTop"><a href="#PageContainer"><i class="fa fa-arrow-circle-o-up fa-3x" aria-hidden="true"></i></a></div>

        <footer>
            <div class="Footer">
                <div class="row">
                    <h1>Footer</h1>
                    <p>Class name: 'Footer'.</p>
                    <p>Requirement: Height property must be set.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
<!-- Bootstrap core JavaScript -->
<script src="~/vendor/popper/popper.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
@*<script src="~/js/jqBootstrapValidation.js"></script>*@
@*<script src="~/js/contact_me.js"></script>*@

<script>
    function goBack() {
        window.history.back();
    }
</script>




<script>
    //Set icon visibility on page load
    $(document).ready(function () {
        if ($(this).scrollTop() > 50) {
            $("#backToTop").fadeIn('slow');
        } else {
            $("#backToTop").fadeOut(0);
        }
        $("#backToTop").css('visibility', 'visible');
    });

    //Set icon visibility on page scroll
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $("#backToTop").fadeIn('slow');
                if ($("body").height() <= ($(window).height() + $(window).scrollTop() + $(".Footer").height())) {
                    $("#backToTop").css('bottom', '180px');
                } else {
                    $("#backToTop").css('bottom', '5px');
                }
            } else {
                $("#backToTop").css('bottom', '5px');
                $("#backToTop").fadeOut("slow");
            }
        });
    });
</script>


@*@{
        Layout = null;
    }

    <style>
        #backToTop {
            position: fixed;
            bottom: 5px;
            right: 25px;
            visibility: hidden;
            color: #00456e;
            color: rgba(0, 94, 165, 0.50);
            -moz-transition: bottom 0.3s ease;
            -o-transition: bottom 0.3s ease;
            -webkit-transition: bottom 0.3s ease;
            transition: bottom 0.3s ease;
        }

        .Footer {
            background-color: #dee0e2;
            height: 170px;
        }
    </style>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="~/css/freelancer.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- jQuery load at top for compatability -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <body id="page-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Back to the top Link</h2>
                    <hr class="star-primary">
                    <div id="bodyContentContainer" style="background-color:#ffbbdf; padding:10px">
                        <p style="text-align:justify;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper leo sit amet massa pulvinar ultricies. Etiam eget sodales est, at dapibus orci. Nunc justo dui, tempus eget lectus sed, sagittis laoreet velit. Donec pulvinar, ante in faucibus pulvinar, justo ligula vestibulum felis, at feugiat sem libero et risus. Nam molestie rutrum velit a consequat. Praesent molestie enim cursus lobortis elementum. Sed pretium iaculis aliquet. Mauris eleifend nunc in nibh posuere, eu vestibulum est blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin posuere condimentum auctor. Cras ullamcorper sapien libero, quis fringilla mauris elementum id. Vivamus tristique ex enim, in convallis est vulputate vitae. Phasellus volutpat diam turpis. Nullam eu pellentesque elit.
                            <br /><br />
                            Sed augue nibh, laoreet ut dui eget, venenatis tincidunt dui. Curabitur hendrerit viverra diam eget consequat. Mauris eu vehicula ipsum, et lobortis velit. Duis nec tincidunt velit. Donec augue urna, malesuada id condimentum ac, vehicula eleifend turpis. In pulvinar varius gravida. Nulla feugiat nunc quis porttitor molestie. Cras fermentum in orci in fermentum. Cras aliquet nisi vel libero molestie, non rhoncus sem sagittis. Morbi vulputate et nunc at pharetra. Curabitur id leo enim. Mauris ornare sed ante id dignissim. Duis sed congue ligula. Maecenas eu magna eu purus interdum cursus id commodo nisl. Integer at ex at ex euismod congue eu non est. Integer non lorem in turpis viverra pulvinar.
                            <br /><br />
                            Mauris leo metus, posuere ac nulla sit amet, aliquet aliquet ligula. Aenean sed porttitor ante. Sed augue purus, faucibus in eros sed, interdum efficitur enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere hendrerit neque nec tincidunt. Sed venenatis vestibulum dolor, vitae mollis augue egestas malesuada. Quisque sed eros id massa bibendum fermentum ornare in eros. Nunc pharetra dapibus sagittis. Nunc tempor nulla mauris. Nulla venenatis gravida condimentum.
                            <br /><br />
                            Nullam maximus orci sit amet metus tristique, viverra rutrum ante condimentum. Cras eget augue odio. Fusce sed lectus fermentum, efficitur dui at, consequat urna. Mauris varius tempus dignissim. Maecenas maximus elit semper ex rutrum, in ornare erat porta. Nullam nisi sem, sagittis in consequat ut, dictum ut orci. Integer at velit justo. Proin efficitur, nibh in dignissim placerat, libero urna scelerisque mauris, eu ullamcorper metus nulla ut quam. Aenean volutpat dapibus nunc. Proin viverra posuere elementum. Vivamus vitae porttitor tortor.
                            <br /><br />
                            Pellentesque mollis nulla vel libero elementum, in lobortis arcu gravida. Nullam sit amet justo quis ligula suscipit imperdiet ac sit amet metus. Etiam efficitur scelerisque pulvinar. Sed congue convallis justo. Cras enim velit, mattis vitae finibus sed, accumsan eget dui. Nunc viverra ex sit amet pharetra mattis. Sed porta et magna non suscipit. Etiam non quam justo.
                        </p>

                    </div>
                    <div class="spacer25"></div>
                    <p>
                        This example implements a link to take the user to the top of the screen. It is invisible on page load, fades in as the user scrolls down and fades out again when navigating back to the top. Additionally, to avoid covering content in a footer such as a logo it can bounce out of the way at the bottom of the screen.
                    </p>
                    <ul class="list-inline item-details">
                        <li>
                            Path:
                            <strong>
                                ~/Views/Pages/BackToTheTop.cshtml
                            </strong>
                        </li>
                        <li>
                            Development Client:
                            <strong>
                                <a href="#">Section 96</a>
                            </strong>
                        </li>
                        <li>
                            Date:
                            <strong>
                                September 2017
                            </strong>
                        </li>
                        <li>
                            Dependencies:
                            <strong>
                                jQuery
                            </strong>
                        </li>
                    </ul>
                    <button class="btn btn-success" onclick="goBack()" type="button">
                        <i class="fa fa-times"></i>
                        Back
                    </button>
                </div>
            </div>
        </div>
        <div id="backToTop"><a href="#page-top">TOP<i class="fa fa-arrow-circle-o-up fa-3x" aria-hidden="true"></i></a></div>
        <div class="Footer">Footer Content</div>

        <!-- Bootstrap core JavaScript -->
        <script src="~/vendor/popper/popper.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="~/js/jqBootstrapValidation.js"></script>
        <script src="~/js/contact_me.js"></script>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>

        <script>
            //Set icon visibility on page load
            $(document).ready(function () {
                if ($(this).scrollTop() > 50) { $("#backToTop").fadeIn('slow'); }
                else { $("#backToTop").fadeOut(0); }
                $("#backToTop").css('visibility', 'visible');
            });
        </script>

        <script>
            //Set icon visibility on page scroll
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 50) {
                        $("#backToTop").fadeIn('slow');
                        if ($("body").height() <= ($(window).height() + $(window).scrollTop() + $(".Footer").height())) {
                            $("#backToTop").css('bottom', '180px');
                        }
                        else { $("#backToTop").css('bottom', '5px'); }
                    }
                    else {
                        $("#backToTop").css('bottom', '5px');
                        $("#backToTop").fadeOut("slow");
                    }
                });
            });
        </script>

    </body>*@