@section CSS{
    <style>
        #map {
            height: 500px;
            width: 700px;
        }
    </style>
}

@section Title{
    <h2>Google Maps - Shapes</h2>
}

@section BodyContent {
    <div id="map" class="img-fluid img-centered"></div>
}

@section BodyDescription{
    This example displays polygonal shapes on a Google Map using the <a href="https://developers.google.com/maps/documentation/javascript/">Google Maps JavaScript API</a>. The example requires a location is set for the map to center on.
}

@section Path{
    ~/Views/Pages/ImageLinks.cshtml
}

@section Client{
    <a href="#">TLIF</a>
}

@section Date{
    September 2017
}

@section Dependencies{
    API Key generated via dfeDevelopers@gmail.com
}

@section Scripts{
    <script>
        // This example requires the Geometry library. Include the "libraries=geometry" call in the script after API Key (See the bottom of the page)."
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 53.472225, lng: -2.2935021 },
                zoom: 7,
            });

            var triangleCoords1 = [
                { lat: 53.4570733, lng: -2.2663532 },
                { lat: 53.4728167, lng: -2.2717053 },
                { lat: 53.8725442, lng: -3.0466738 },
                { lat: 53.3547282, lng: -3.1212923 },
            ];

            var triangleCoords2 = [
                { lat: 53.3956347, lng: -1.6395375 },
                { lat: 53.3618841, lng: -1.9164341 },
                { lat: 52.9783775, lng: -0.0564309 },
                { lat: 53.9783775, lng: -1.0564309 },
                { lat: 53.3956347, lng: -1.6395375 },
            ];

            // Construct the polygon.
            var bermudaTriangle = new google.maps.Polygon({
                paths: triangleCoords1,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            });
            // Construct the polygon.
            var bermudaTriangle2 = new google.maps.Polygon({
                paths: triangleCoords2,
                strokeColor: '#00FF00',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#00FF00',
                fillOpacity: 0.35
            });

            bermudaTriangle.setMap(map);
            bermudaTriangle2.setMap(map);

            //var bermudaTriangle = new google.maps.Polygon({ paths: triangleCoords });

            google.maps.event.addListener(map, 'click', function (e) {
                var resultColor =
                    google.maps.geometry.poly.containsLocation(e.latLng, bermudaTriangle) ?
                        'blue' :
                        'red';

                var resultPath =
                    google.maps.geometry.poly.containsLocation(e.latLng, bermudaTriangle) ?
                        // A triangle.
                        "m 0 -1 l 1 2 -2 0 z" :
                        google.maps.SymbolPath.CIRCLE;

                new google.maps.Marker({
                    position: e.latLng,
                    map: map,
                    icon: {
                        path: resultPath,
                        fillColor: resultColor,
                        fillOpacity: .2,
                        strokeColor: 'white',
                        strokeWeight: .5,
                        scale: 10
                    }
                });
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUZkb2pcytwQPF_9dmSzcogC0tUqeTBY&libraries=geometry&callback=initMap"
            async defer></script>
}